<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pingcap.gat.mapper.OncallMapper">
    <sql id="column">
        id,ticket,customer,ghissue,foundstage,foundmethod,comments,version
    </sql>

    <select id="listAllOncall"
            resultType="com.pingcap.gat.model.Oncall">
        select *
        from oncall
    </select>


    <insert id="addOncall" parameterType="User">
        insert into oncall set id=#{id}, ticket=#{ticket}, customer=#{customer}, ghissue=#{ghissue}, last_modified_at=UTC_TIMESTAMP(), foundstage=#{foundstage},foundmethod=#{foundmethod},ghissue=#{ghissue},comments=#{comments},version=#{version}
    </insert>
</mapper>